@import 'reset.css';


h3 {
    font-size: 60px;
}

h4 {
    font-size: 30px;
    color: white;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 12px;
}

/*header start*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #eff1f2;
    border-bottom: 3px solid #a0138e;
    text-align: center;
    z-index: 9999;
}

.header-text {
    margin-right: 10px;
}

#header-btn {
    width: 100px;
    background-color: Transparent;
    border: 1px solid #a0138e;
    color: #a0138e;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    border-radius: 50px;
    cursor: pointer;
}

/* header end*/

/* nav bar start*/
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.nav-content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-item-group {
    display: flex;
    justify-content: space-between;
    width: 30%;
    flex-direction: row;
}

.nav-link-group {
    display: flex;
    flex-direction: row;
}

.nav-link-text:hover {
    color: #FCD307;
    transition: 0.5s;
}

.nav-link-text:first-child {
    color: #FCD307;
}

.nav-link-text {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

#creative_corner{
    font-size: 35px;
}

/* nav bar end*/

/* main start*/
#main {

}

.container {
    display: flex;
}

/* creative-corner start*/
#creative-corner {
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-image: url("images/earth.jpg");
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

.text-box {
    color: white;
    margin-left: 200px;
}

#upper-text-box {
    margin-top: 120px;
    margin-bottom: 60px;
}

#lower-text-box {
    margin-bottom: 30px;
}

.btn-group {
    margin-left: 200px;
}

.creative-corner-btn:hover {
    border: 2px solid #FCD307;
    color: #FCD307;
}

.creative-corner-btn {
    width: 159px;
    height: 42px;
    background-color: Transparent;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}

/* creative-corner end*/

/* yellow-plus start*/
#yellow-plus {
    margin-left: 30px;
    width: auto;
    height: 40px;
}

#yellow-box {
    display: flex;
    justify-content: center;
    align-item: center;
    background-color: #FCD307;
    width: 100%;
    height: 350px;
}

#yellow-box .item-groups {
    display: flex;
    position: relative;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

#yellow-box > .item-groups > .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#yellow-box > .item-groups > .items .item-text {
    margin-top: 20px;
    text-align: center;
}

#yellow-box > .item-groups > .items img {
    width: 64px;
    height: auto;
}

.yellow-box-item-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 999px;
    background-color: white;
}

/* yellow-plus start*/

/* about-us start*/
#about-us {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

#about-us-content {
    width: 70%;
}

.about-us-title {
    margin: 50px 0 20px 0;
}

.about-us-desc {
    margin-bottom: 60px;
    margin-left: 50px;
}

.people-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}

.people-picture img {
    width: 213px;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 40px;
}

.about-us-text-content-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.about-us-text-content:first-child {
    margin-right: 40px;
}

/* about-us end*/

/*contact start*/
#contact {
    display: flex;
    justify-content: center;
    background-color: #212121;
    width: 100%;
    height: auto;
}

#contact-content {
    width: 70%;
}

.contact-title {
    margin: 50px 0 20px 0;
    color: white;
}

.contact-desc {
    margin-bottom: 60px;
    margin-left: 50px;
    color: white;
}

.contact-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-box1 {
    display: flex;
    flex-direction: column;
    width: 50%
}

.contact-info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    color: white;
}

.content-address {
    margin: 80px 0px 80px 0px;
    color: white;
}

.content-map {
    margin-bottom: 150px;
}

#contact-box2 {
    display: flex;
    flex-direction: column;
    width: 50%
}

.content-submit-desc {
    color: white;

}

.contact-submit {
    display: flex;
    margin-top: 50px;
}

.contact-submitbox {
    width: 300px;
    height: 40px;
    margin: auto 10px 5px auto;
}

.contact-submitbox2 {
    width: 300px;
    height: 130px;
}

.contact-btn {
    background-color: #FCD307;
    width: 150px;
    height: 40px;
}

/*contact end*/

/* main end*/


/* footer start*/
footer {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}


/* footer end*/